/* nav
{
    display: flex;
    flex-direction: column;
}
nav ul#middle
{
    display: none;
}
.menu-toggle {
    font-size: 24px; /* Taille du bouton menu */
    cursor: pointer; /* Pointeur pour le bouton */
}
.navbar {
    display: none; /* Masquer le menu par défaut */
    background-color: #4CAF50; /* Couleur du menu */
    position: absolute; /* Positionnement absolu */
    top: 60px; /* Ajuster en fonction de la taille de l'en-tête */
    right: 0; /* Alignement à droite */
    width: 200px; /* Largeur du menu */
}
div#navbar
{
    display: none;
} */


