:root {
	--primary-color: black;
	--second-color: white;
	--third-color: #e84545;
	--fourth-color: #d7d7d7;
}

body {
	background-color: var(--fourth-color);
}
/*Concerne la partie nav*/
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary-color);
}

nav .middle {
	display: flex;
	gap: 100px;
	font-family: "Roboto", sans-serif;
}

nav > ul li {
	color: white;
	font-family: "Roboto", sans-serif;
}

.right-side li button {
	background-color: var(--third-color);
	border-radius: 5px;
	padding: 10px;
	font-family: "Roboto", sans-serif;
}

.right-side li {
	margin: 20px;
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}
/*Concerne la partie de la nav (fin a partir d'ici)*/

main h2 {
	text-align: center;
	border: 2px solid var(--third-color);
	border-radius: 10px;
	padding: 10px;
	background-color: var(--third-color);
	max-width: 125px;
	font-family: "Bebas Neue", sans-serif;
	color: var(--second-color);
	margin: auto;
}

h3 {
	font-family: "Oswald", sans-serif;
}

/*Concerne la partie abonnement*/
.card-wrapper {
	display: flex;
	justify-content: space-around;
}
#card .name-card {
	font-size: 25px;
}
#card {
	text-align: center;
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	padding: 10px;
	background-color: var(--primary-color);
	max-width: 170px;
	font-family: "Bebas Neue", sans-serif;
	color: var(--second-color);
	margin-top: 30px;
}

.prix {
	color: var(--third-color);
	font-size: 25px;
}

.go {
	background-color: var(--third-color);
	border-radius: 10px;
	padding: 15px;
	font-family: "Roboto", sans-serif;
	font-weight: 800;
}
/*Concerne la partie abonnement (fin a partir d'ici)*/
